<h1>Aktualności</h1>
<%- for single in @news -%>
      <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1><%= single.title -%></h1>

        <!-- Author -->
        <p class="lead">
          by <a href="#"><%= single.user.name -%></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Opublikowane <%= single.created_at.strftime('%F %T') -%></p>


        <hr>

        <!-- Post Content -->
        <%= raw single.content -%>
        <hr>
      </div>
<%- end -%>
<%= paginate @news -%>