<h2 class="text-center mrg20t" style="margin-bottom:50px;margin-bottom:60px">Aktualności</h2>


<ul class="cbp_tmtimeline mrg20b">
    <%- @news.each do |single| -%>
    <li>
        <time class="cbp_tmtime" datetime=""><span><%= single.created_at.strftime('%F') -%></span> <span><%= single.created_at.strftime('%T') -%></span></time>
        <div class="cbp_tmicon cbp_tmicon-text"></div>
        <div class="cbp_tmlabel">
            <h2><%= single.title %><br><small>Autor: <a href="<%= url_for profile_view_path(single.user) -%>"><%= single.user.nickname -%></a></small></h2>
            <%= raw single.content -%>
        </div>
    </li>
    <%- end -%>
</ul>
<%= paginate @news -%>