<p id="notice"><%= notice %></p>

<h1>Listing Course Exercises</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_exercises.each do |course_exercise| %>
      <tr>
        <td><%= course_exercise.data %></td>
        <td><%= link_to 'Show', course_exercise %></td>
        <td><%= link_to 'Edit', edit_course_exercise_path(course_exercise) %></td>
        <td><%= link_to 'Destroy', course_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_course_exercise_path %>
