<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_data_api.name %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @course_data_api.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_data_api.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @course_data_api.image %>
</p>

<%= link_to 'Edit', edit_course_data_api_path(@course_data_api) %> |
<%= link_to 'Back', course_data_apis_path %>
