<div class="col-lg-8">

  <!-- Blog Post -->

  <!-- Title -->
  <h1><%= @article.title -%></h1>

  <!-- Author -->
  <p class="lead">
    autor: <a href="<%= url_for profile_view_path(@article.user) -%>"><%= @article.user.nickname -%></a>
  </p>
   
  <hr>

  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Opublikowane <%= @article.created_at.strftime('%F %T') -%> | Kategoria: <%= link_to @article.article_category.name, article_categories_path( @article.article_category) %></p>


  <hr>

  <!-- Post Content -->
  <%= raw @article.content -%>
  <hr>

  <%- if current_user and current_user.is_admin? -%>
      <%= link_to 'Edytuj artykuł', rails_admin.edit_path(model_name: 'Article', id: @article.id.to_s) -%>
  <%- end -%>
</div>