<div id="staticContent">

    <!-- Blog Post -->

    <!-- Title -->
    <h1 class="text-center"><%= @article.title -%></h1>
    Kategoria: <%= link_to @article.article_category.name, articles_categories_path(@article.article_category) -%>

    <hr>

    <!-- Post Content -->
    <%= raw @article.content -%>

    <%- if current_user and current_user.is_admin? -%>
    <%= link_to 'Edytuj artykuł', rails_admin.edit_path(model_name: 'Article', id: @article.id.to_s) -%>
    <%- end -%>


    <hr>
    <!-- Date/Time -->
    <p style="float:left; margin-left:20px"><span class="glyphicon glyphicon-time"></span> Opublikowane <%= @article.created_at.strftime('%F %T') -%></p>
    <p style="float: right; margin-right:20px">
        <span class="glyphicon glyphicon-user"></span> Autor: <%- if @article.user.name.present? -%><%= @article.user.name -%><%- else -%><%= @article.user.nickname -%><%- end -%>
    </p>

    <div class="clearfix"></div>
    <hr style="margin-top: 12px;">
</div>