<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Nazwa projektu:' %>
    <%= f.input :icon, label: 'Url ikony:' %>
    <%= f.input :github, :collection => @repositories, :label_method => :full_name, :value_method => :full_name, :label => 'Nazwa repozytorium', :include_blank => false %>
    <%- if current_user.is_teacher? -%>
      <%= f.input :contest, as: :boolean, label: 'Projekt Konkursowy:' %>
    <%- end -%>
  </div>

  <div class="buttons">
    <a class="btn btn-danger" href="<%= projects_mine_path %>">Anuluj</a>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
