<h1>Moje projekty</h1>

<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Nazwa repozytorium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.github %></td>
        <td><%= link_to 'Pokaż', project %></td>
        <td><%= link_to 'Edytuj', edit_project_path(project) %></td>
        <td><%= link_to 'Usuń', project, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy projekt', new_project_path %>
