<div class="col-lg-8">

  <!-- Blog Post -->

  <!-- Title -->
  <h1><%= @news.title -%></h1>

  <!-- Author -->
  <p class="lead">
    autor: <a href="<%= url_for profile_view_path(@news.user) -%>"><%= @news.user.nickname -%></a>
  </p>

  <hr>

  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Opublikowane <%= @news.created_at.strftime('%F %T') -%></p>


  <hr>

  <!-- Post Content -->
  <%= raw parse_markdown(@news.content) -%>
  <hr>

  <%- if @news.user.id == current_user.id -%>
  <%= link_to 'Edytuj newsa', school_educator_news_path + '?id=' + @news.id.to_s -%>
  <%- end -%>
</div>