<p id="notice"><%= notice %></p>

<h1>Listing Course Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_lessons.each do |course_lesson| %>
      <tr>
        <td><%= course_lesson.data %></td>
        <td><%= link_to 'Show', course_lesson %></td>
        <td><%= link_to 'Edit', edit_course_lesson_path(course_lesson) %></td>
        <td><%= link_to 'Destroy', course_lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_course_lesson_path %>
