<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Apki.org</title>
  <%- unless Gem.win_platform? -%>
      <%= stylesheet_link_tag 'rblineprof', media: 'all', 'data-turbolinks-track' => true, debug: false %>
      <%= javascript_include_tag 'rblineprof', 'data-turbolinks-track' => true, debug: false %>
  <%- end -%>
  <%= stylesheet_link_tag 'vendors', media: 'all', 'data-turbolinks-track' => true, debug: false %>
  <%= javascript_include_tag 'vendors', 'data-turbolinks-track' => true, debug: false %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      jQuery(function () {
      });
  </script>
</head>