<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Apki.org</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'vendors', media: 'all', 'data-turbolinks-track' => true, debug: false %>
  <%= javascript_include_tag 'vendors', 'data-turbolinks-track' => true, debug: false %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      jQuery(function () {
      });
  </script>
</head>