<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Apki.org</title>
  <meta name="description" content="Pierwsza w Polsce interaktywna platforma do nauki programowania." />
  <meta name="robots" content="index, follow, all" />
  <meta name="googlebot" content="index, follow, archive, snippet, all" />
  <meta name="copyright" content="media30.com" />
  <meta name="author" content="media30.com" />
  <meta property="og:title" content="apki.org" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="apki.org" />
  <meta property="og:description" content="Pierwsza w Polsce interaktywna platforma do nauki programowania." />
  <meta property="og:image" content="http://apki.org/images/logo.png" />
  <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'vendors', media: 'all', 'data-turbolinks-track' => true, debug: false %>
  <%= javascript_include_tag 'vendors', 'data-turbolinks-track' => true, debug: false %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      jQuery(function () {
          $.cookiesDirective({
              position : 'bottom',
              message: 'Ta strona korzysta z ciasteczek i innych technologii zbierające dane statystyczne. Przeczytaj naszą <a href="/static/privacy" target="_blank">politykę prywatności</a>.',
              explicitConsent:false,
              duration:0
          });
      });
  </script>
</head>