<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<div id="holder">
  <%= render 'layouts/main_menu' %>


    <% flash.each do |name, msg| -%>
    <%-
    # mapowanie niektórych nazw
    name = 'success' if name == 'notice'
    name = 'danger' if name == 'error'
    -%>
    <div class="alert alert-<%= name %>">
        <span style="margin-top: 10px; display: inline-block;"><%= msg %></span>
        <a href="javascript:;" onclick="$(this).parent().fadeOut(function(){$(this).remove();});" style="float:right;" class="btn btn-primary">Zamknij</a>
    </div>
    <% end -%>

  <article id="content" class="col-md-10 col-md-offset-1">

    <%= yield %>
  </article>





  <footer>
    <div class="col-md-10 col-md-offset-1" style="border-top:2px solid #e7e7e7"></div>
    <div class="clearfix"></div>

    <div class="col-md-12 mrg25t mrg25b">
      <%= image_tag 'logo_fundacja.png', alt: 'Fundacja Media 3.0' %>
    </div>

    <div class="partners">
      <div class="text-center col-md-12">
          <p>
            <span style="font-weight: bold;    text-transform: uppercase;    top: -38px;    right: -19px;    display: inline-block;    position: relative;    width: 1px;" class="">Partnerzy</span>


              <a href="https://www.hackerearth.com/" target="_blank">
                  <img src="/images/hackerearth-Kopiowanie-3.png"/>
              </a>
              <a href="http://codeweek.eu/" target="_blank">
                  <img src="/images/CodeWeek 2015 PL.png" />
              </a>

              <span style="    width: 1px;    border-right: 2px solid #6d579d;    display: inline-block;    height: 40px;    position: relative;    top: 15px;"> </span>

              <span style="    font-weight: bold;    text-transform: uppercase;    top: -38px;    right: -19px;    display: inline-block;    position: relative;    width: 1px;" class="">Partonat</span>
              <a href="http://programistamag.pl/" target="_blank">
                  <img src="/images/Logo_Programista405px.jpg"/>
              </a>
              <a href="http://www.cogito.com.pl/" target="_blank">
                  <img src="/images/cogito-Kopiowanie.gif"/>
              </a>
              <a href="http://www.superbelfrzy.edu.pl/" target="_blank">
                  <img src="/images/superbelfrzy-Kopiowanie.jpg"/>
              </a>
              <a href="http://www.komputerswiat.pl/" target="_blank">
                  <img src="/images/ks_logo.png" />
              </a>
              <a href="http://www.edulandia.pl/" target="_blank">
                  <img src="/images/edulandia_2011.jpg" />
              </a>
          </p>
      </div>
    </div>

    <div class="col-md-12">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-3 text-center">
                <div style="font-weight: bold; text-transform: uppercase" class="mrg5b">Serwis</div>

                <%= link_to 'O serwisie', '/static/about' -%>
                <br><%= link_to 'GitHub', 'https://github.com/media3-0/apki.org', target:'_blank' -%>
                <br><%= link_to 'Dev blog', 'http://devblog.apki.org/', target:'_blank' -%>
                <br><%= link_to 'Status usług', 'https://apkiorg.statuscast.com/', target:'_blank' -%>
                <br>Regulamin
                <br>Polityka prywatności
            </div>
            <div class="col-md-3 text-center">
                <div style="font-weight: bold; text-transform: uppercase" class="mrg5b">O nas</div>

                <%= link_to 'O projekcie', '/static/about' -%>
                <br><%= link_to 'Zespół', '/static/people' -%>
                <br><%= link_to 'Idea', '/static/idea' -%>
                <br><%= link_to 'Partnerzy', '/static/partners' -%>
                <br><%= link_to 'Fundacja Media 3.0', 'http://media30.pl/o-fundacji/', target:'_blank' -%>
                <br><%= link_to 'Kontakt', '/static/contact' -%>

            </div>
            <div class="col-md-3 text-center">
                <div style="font-weight: bold; text-transform: uppercase" class="mrg5b">Pomoc</div>

                <%= link_to 'Mentorzy', '/static/mentors' -%>
                <br><%= link_to 'Forum', 'http://forum.apki.org/', target:'_blank' -%>
                <br><%= link_to 'Pomoc techniczna', 'https://github.com/media3-0/apki.org/issues', target:'_blank' -%>
                <br><%= link_to 'Zgłoś uwagi', 'https://github.com/media3-0/apki.org/issues/new', target:'_blank' -%>
                <br><%= link_to 'FAQ', '#' -%>

            </div>
            <div class="col-md-3 text-center">
                <div style="font-weight: bold; text-transform: uppercase" class="mrg5b">Media</div>

                <%= link_to 'Facebook', 'https://www.facebook.com/apki.org', target:'_blank' -%>
                <br><%= link_to 'Twitter', '#', target:'_blank' -%>
                <br><%= link_to 'YouTube', '#', target:'_blank' -%>

            </div>
        </div>
      <div class="col-md-3"></div>

    </div>
    <div class="col-md-2"></div>

    <div class="clearfix"></div>

    <p class="mrg25t mrg25b"><a href="https://github.com/media3-0/apki.org/"><img src="https://badge.fury.io/gh/media3-0%2Fapki.org.svg" alt="GitHub version" height="18"></a>  &copy; Akademia 3.0 - Projekt na licencji <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
        <p>Projekt dofinansowany ze środków Ministerstwa Administracji i Cyfryzacji<br><a href="https://mac.gov.pl/" target="_blank">
          <img src="/images/macblue.png" style="height:40px; width:auto"/>
        </a></p>
  </footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67546326-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
