<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<div id="holder">
  <%= render 'layouts/main_menu' %>
  <article id="content" class="col-md-10 col-md-offset-1">
    <% flash.each do |name, msg| -%>
      <%-
          # mapowanie niektórych nazw
          name = 'success' if name == 'notice'
          name = 'danger' if name == 'error'
      -%>
      <%= content_tag :div, msg, class: 'alert alert-'+name %>
    <% end -%>

    <%= yield %>
  </article>
  <footer>
    <div class="col-md-10 col-md-offset-1" style="border-top:2px solid #e7e7e7"></div>
    <div class="clearfix"></div>

    <div class="col-md-12 mrg25t mrg25b">
      <%= image_tag 'logo_fundacja.png', alt: 'Fundacja Media 3.0' %>
    </div>

    <div class="col-md-12">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-4 text-center">
                <%= link_to 'O projekcie', '/static/about' -%>
                <br><%= link_to 'Partnerzy', '/static/partners' -%>
                <br><%= link_to 'Ludzie projektu', '/static/people' -%>
                <br><%= link_to 'Kontakt', '/static/contact' -%>
                <br><%= link_to 'Fundacja Media 3.0', 'http://media30.pl/o-fundacji/', target:'_blank' -%>
                <br><%= link_to 'O idei', '/static/idea' -%>
            </div>
            <div class="col-md-4 text-center">
                <%= link_to 'Aktualności', news_path -%>
                <br><%= link_to 'Mentorzy', '/static/mentors' -%>
                <br><%= link_to 'Forum', 'http://forum.apki.org/', target:'_blank' -%>
                <br><%= link_to 'Facebook', 'https://www.facebook.com/apki.org', target:'_blank' -%>
                <br>Regulamin serwisu
                <br>Polityka prywatności
            </div>
            <div class="col-md-4 text-center">
                <br><%= link_to 'Dev blog', 'http://devblog.apki.org/', target:'_blank' -%>
                <br><%= link_to 'Pomoc techniczna', 'https://github.com/media3-0/apki.org/issues', target:'_blank' -%>
                <br><%= link_to 'GitHub projektu', 'https://github.com/media3-0/apki.org', target:'_blank' -%>
                <br><%= link_to 'Status usług', 'https://apkiorg.statuscast.com/', target:'_blank' -%>
            </div>
        </div>
      <div class="col-md-3"></div>

    </div>
    <div class="col-md-2"></div>

    <div class="clearfix"></div>

    <p class="mrg25t mrg25b">&copy; Akademia 3.0. 2015 Projekt o otwartym kodzie źródłowym</p>
      <div class="partners">
        <p>Projekt dofinansowany ze środków Ministerstwa Administracji i Cyfryzacji<br><a href="https://mac.gov.pl/" target="_blank">
          <img src="/images/macblue.png"/>
        </a></p>
        <p>
          <a href="https://mac.gov.pl/" target="_blank">
            <img src="/images/ministerstwoOK.png"/>
          </a>
          <a href="https://www.hackerearth.com/" target="_blank">
            <img src="/images/hackerearth-Kopiowanie-3.png"/>
          </a>
          <a href="http://codeweek.eu/" target="_blank">
            <img src="/images/CodeWeek 2015 PL.png" />
          </a>
          <a href="http://programistamag.pl/" target="_blank">
            <img src="/images/Logo_Programista405px.jpg"/>
          </a>
          <a href="http://www.cogito.com.pl/" target="_blank">
            <img src="/images/cogito-Kopiowanie.gif"/>
          </a>
          <a href="http://www.superbelfrzy.edu.pl/" target="_blank">
            <img src="/images/superbelfrzy-Kopiowanie.jpg"/>
          </a>
          <a href="http://www.komputerswiat.pl/" target="_blank">
            <img src="/images/ks_logo.png" />
          </a>
        </p>
      </div>
  </footer>
</div>
</body>
</html>
