<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<div id="holder">
    <%= render 'layouts/main_menu' %>
    <article id="content" class="col-md-10 col-md-offset-1">
      <% flash.each do |name, msg| -%>
          <%-
              # mapowanie niektórych nazw
              name = 'success' if name == 'notice'
              name = 'danger' if name == 'error'
          -%>
          <%= content_tag :div, msg, class: 'alert alert-'+name %>
      <% end -%>

      <%= yield %>
    </article>
    <footer>
        <div class="col-md-10 col-md-offset-1" style="border-top:2px solid #e7e7e7"> </div>
        <div class="clearfix"></div>

        <div class="col-md-12 mrg25t mrg25b">
        <%= image_tag 'logoc.png', alt: 'Apki.org' %>
        </div>

        <div class="col-md-offset-2 col-md-9">

            <div class="col-md-2"> </div>
        <div class="col-md-2 text-left">Aktualności<br>Regulamin serwisu<br>Polityka prywatności</div>
        <div class="col-md-3 text-left">Reklama<br>Współpraca<br>Forum</div>
        <div class="col-md-2 text-left">Informacje o wydawcy<br>Poznaj nas<br>Kontakt<br>Pomoc techniczna</div>
            <div class="col-md-3"> </div>

        </div>
        <div class="col-md-2"> </div>

        <div class="clearfix"></div>

        &copy; Akademia 3.0. 2015 Wszelkie prawa zastrzeżone
    </footer>
</div>
</body>
</html>
